@charset "utf-8";
/* CSS Document */

body{
	background-color:#b7dbe7;
	background-image: url(../images/bg_body.png);
	background-repeat: repeat-x;
	background-position: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
#page {
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#header {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#navigation {
	background-color: #1b3c58;
	background-image: url(../images/bg_topnav.png);
	background-repeat: repeat-x;
	background-position: top;
	border-radius: 10px;
}
#navigation ul {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #667c90;
}
#main {
	background-color: #FFF;
}

#navigation li {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style-type: none;
}
.clear {
	clear: both;
}
#navigation a {
	font-size: 14px;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	display: block;
	height: 40px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	line-height: 40px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #667c90;
}
#navigation a:hover{
	background-image:url(../images/bg_topnav_over.png);
}
#logo{
	margin:0px;
	padding:10px 0px 10px 0px;
}
#sidebar {
	float: left;
	width: 200px;
	padding: 5px;
}
#content {
	float: left;
	width: 750px;
	padding: 5px;
}
#sidebar h2 {
	padding: 0px;
	height: 40px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	line-height: 40px;
	background-image: url(../images/bg_left_title.png);
	background-repeat: repeat-x;
	background-position: top;
	font-weight: normal;
	color: #0b2236;
	font-size: 20px;
}
#sidebar h2 div {
	line-height: 40px;
	background-image: url(../images/bg_left_firefox.png);
	background-repeat: no-repeat;
	background-position: 8px center;
	height: 40px;
	padding-left: 46px;
}
#sidebar h2.thunderbird div {
	background-image: url(../images/bg_left_thunderbird.png);
}
#sidebar ul {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
#sidebar li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#sidebar ul a {
	color: #0b2236;
	text-decoration: none;
	font-size: 14px;
	display: block;
	padding: 5px;
	margin: 0px;
}
#sidebar ul a:hover {
	background-image: url(../images/bg_col_left_over.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 16px;
}
#content h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: normal;
	color: #0b2236;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
#footer {
	font-size: 11px;
	color: #6595a5;
	text-align: right;
}
table {
	background-color: #DDD;
}
table th {
	color: #FFF;
	background-color: #333;
}
form .field {
	margin-bottom: 5px;
}
form label {
	font-weight: bold;
	display: block;
}
form .textfield, form textarea, form select {
	border: 1px solid #0CF;
}
